<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>sendmail</display-name>
	<filter>
		<description>
		</description>
		<display-name>Fprpfilter</display-name>
		<filter-name>Fprpfilter</filter-name>
		<filter-class>Fprpfilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Fprpfilter</filter-name>
		<url-pattern>/Fprpfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Fprpfilter</filter-name>
		<servlet-name>Fprp</servlet-name>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<servlet>
		<description>
		</description>
		<display-name>Fp</display-name>
		<servlet-name>Fp</servlet-name>
		<servlet-class>Fp</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Fprp</display-name>
		<servlet-name>Fprp</servlet-name>
		<servlet-class>Fprp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Fp</servlet-name>
		<url-pattern>/Fp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Fprp</servlet-name>
		<url-pattern>/Fprp</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
